@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	color-scheme: light;
	--background-color: #ffffff;
}

[data-theme='dark'] {
	color-scheme: dark;
	--background-color: #000000;
}

html {
	background-color: var(--background-color);
}

/* Inspired by Smolcss by stephanie */
.stack {
	display: grid;
	grid-template-areas: 'stack';
}

.stack > * {
	grid-area: stack;
}
